[user]
    name = Christoph Gysin
    email = christoph.gysin@ericsson.com

[core]
    editor = vim
    #whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
    st = status
    di = diff
    dc = diff --cached
    ci = commit
    co = checkout
    sl = shortlog
    br = branch
    bv = branch -vv
    rv = remote -v
    tb = !git checkout -tb ${1} ${2:-origin/master} || :
    rst = reset
    rh = reset --hard
    pick = cherry-pick
    lo = log
    lol = log --graph --abbrev
    lola = log --graph --abbrev --all
    lom = !git --no-pager log $(git upstream)..
    los = !git --no-pager log --oneline ${1:-$(git upstream)..}
    ls = !git --no-pager show --pretty="format:" --name-only
    k = !gitk
    ka = !gitk --all
    unstage = reset HEAD --
    last = log -1 HEAD
    upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
    amend = commit --amend -v
    pr = pull --rebase
    prp = !git pull --rebase && git push origin ${1:-HEAD}:${2:-master}
    rb = !git rebase $(git upstream)
    rbi = !git rebase -i $(git upstream)
    frbi = !git fetch origin && git rebase -i $(git upstream)
    brl = !git branch | cut -c3-
    reball = !"for b in $(git brl); do git co $b && git rb || git rb --abort; done"
    backup = push -f --mirror echrgys-bare
    log-grep = !git log --color=always --grep \"${1}\" | sed \"s/${1}/$(tput setaf 1)\\\\0$(tput sgr0)/g\" && :
    rewind = reset --soft HEAD^
    sed = !args=(\"$@\") && git ls-files -z \"${args[@]:1}\" | xargs -0 sed --follow-symlinks -i \"$1\" && :
    g = !git --no-pager grep
    gl = !git --no-pager grep -l
    sg = !git-submodule-grep
    find = !git ls-files | grep
    gerrit = !ssh -p 29418 echrgys@gerrit.ericsson.se gerrit
    reviewers = !git gerrit set-reviewers -a
    conflict = !vim $(git diff --name-only --diff-filter=U)

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

#[apply]
#    whitespace = fix

[push]
    default = current

[github]
    user = christophgysin
    #token = xxx

[sendemail]
    from = "Christoph Gysin <christoph.gysin@gmail.com>"
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = "christoph.gysin@fr33z3.org"
    smtpserverport = 587

[include]
	path = /proj/cpp_dte/rsa_mergetools/gitconfig
	path = /repo/echrgys/mmgw/env/gitconfig

[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[merge]
    tool = "vimdiff3"

[diff "odf"]
    textconv = odt2txt

[diff]
    #algorithm = patience
    algorithm = histogram

