[submodule ".vim/bundle/node"]
	path = .vim/bundle/node
	url = git@github.com:moll/vim-node.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
