[user]
	name = Christoph Gysin
	email = christoph.gysin@gmail.com

[core]
	editor = vim
    #pager = view -
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias] 
	st = status
	di = diff
	ci = commit
	co = checkout
	lo = log
	sl = shortlog

[apply]
	whitespace = fix

[push]
	default = current

[github]
	user = christoph.gysin
	token = xxx

